# Core
pandas==1.0.1
seaborn==0.9.0
ipywidgets==7.5.1

# Documentation
mkdocs==1.0.4
mkdocs-material==4.6.2
pygments==2.15.0

# Testing
pytest==5.3.4 # library for testing
pytest-cov==2.8.1 #  for coverage reports